state_original_name/__pycache__/__init__.cpython-39.pyc
state_original_name/__pycache__/__init__.cpython-39.pyc
state_original_name/__pycache__/__init__.cpython-39.pyc
state_original_name/models/__pycache__/__init__.cpython-39.pyc
state_original_name/models/__pycache__/state_original_name.cpython-39.pyc
Dissenys_generics/__pycache__/__init__.cpython-39.pyc
Dissenys_generics/models/__pycache__/__init__.cpython-39.pyc
Dissenys_generics/models/__pycache__/models.cpython-39.pyc
print_group/__pycache__/__init__.cpython-39.pyc
print_group/models/__pycache__/__init__.cpython-39.pyc
print_group/models/__pycache__/models.cpython-39.pyc
state_original_name/__pycache__/__init__.cpython-39.pyc
state_original_name/models/__pycache__/__init__.cpython-39.pyc
state_original_name/models/__pycache__/state_original_name.cpython-39.pyc
state_original_name/__pycache__/__init__.cpython-39.pyc
state_original_name/models/__pycache__/__init__.cpython-39.pyc
state_original_name/models/__pycache__/state_original_name.cpython-39.pyc
.settings/org.eclipse.core.resources.prefs
plantilles_email/models/__pycache__/__init__.cpython-39.pyc
plantilles_email/models/__pycache__/models.cpython-39.pyc
plantilles_email/__pycache__/__init__.cpython-39.pyc
state_original_name/__pycache__/__init__.cpython-39.pyc
state_original_name/models/__pycache__/__init__.cpython-39.pyc
state_original_name/models/__pycache__/state_original_name.cpython-39.pyc
Dissenys_generics/views/report_comanda_batista.xml
.gitignore
state_original_name/__pycache__/__init__.cpython-39.pyc
state_original_name/__pycache__/__init__.cpython-39.pyc
state_original_name/models/__pycache__/__init__.cpython-39.pyc
state_original_name/models/__pycache__/state_original_name.cpython-39.pyc
B10_helpdesk/models/__pycache__/__init__.cpython-39.pyc
B10_helpdesk/models/__pycache__/helpdeskB10.cpython-39.pyc
B10_helpdesk/__pycache__/__init__.cpython-39.pyc
state_original_name/__pycache__/__init__.cpython-39.pyc
state_original_name/__pycache__/__init__.cpython-39.pyc
B10_contracts/models/__pycache__/__init__.cpython-39.pyc
B10_contracts/models/__pycache__/contractsB10.cpython-39.pyc
B10_contracts/__pycache__/__init__.cpython-39.pyc
